﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>I.Net Soluciones</title>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/css/bootstrap.min.css")
    
    <!-- Custom CSS -->
    @Styles.Render("~/Content/css/agency.css")

    <!-- Custom Fonts -->
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    <link href="~/Content/img/logos/logo.ico" type="image/x-icon" rel="shortcut icon" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
        .affix{
            top: 65%;
        }
    </style>

</head>

<body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background-color:rgb(27,51,94); color:white;">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span class="sr-only">Toggle navigation</span>
                    &nbsp;Men&uacute;
                </button>
                <a class="nav navbar-brand page-scroll navbar-right" href="#page-top" style="padding: 0;">
                    <img src="/Content/img/LTSF_2.png" style="display: inline-block; width: 100px;" /> 
                </a>
            </div>
            <!-- Menú-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-xs">
                        <a class="page-scroll" href="#page-top">Inicio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portafolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#proceso">Proceso</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Sobre Inets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Redes sociales -->
    <div id="r_sociales" class="container" style="position:absolute; z-index:1000;">
        <div class="row">
            <nav id="barra_rs" class="col-sm-3">
                <ul class="nav nav-pills nav-stacked" data-spy="affix" >
                    <li>
                        <a id="rs_t" href="https://twitter.com/inetsmx" target="_blank" style="width:90px;"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a id="rs_f" href="https://www.facebook.com/I.Net.Soluciones.mx/" target="_blank" style="width:90px;"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a id="rs_l" href="https://www.linkedin.com/company/i-net-soluciones" target="_blank" style="width:90px;"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @RenderBody()

    <!-- jQuery -->
    @Scripts.Render("~/Scripts/js/jquery.js")
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/Scripts/js/bootstrap.min.js")
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    @Scripts.Render("~/Scripts/js/classie.js")
    @Scripts.Render("~/Scripts/js/cbpAnimatedHeader.js")
    <!-- Contact Form JavaScript -->
    @Scripts.Render("~/Scripts/js/jqBootstrapValidation.js")
    @Scripts.Render("~/Scripts/js/contact_me.js")
    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/Scripts/js/agency.js")
    @Scripts.Render("~/Scripts/js/jssor.js")

</body>
</html>