﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta charset="utf-8" />
    <title>I .Net Soluciones | Mensaje de Contacto</title>

    <style>
        @@font-face {
            font-family: 'Seravek';
            font-style: normal;
            font-weight: normal;
            src: url('https://inets.com.mx/Content/fonts/Seravek.woff') format('woff');
        }

        * { 
            font-family: "Seravek",Arial, Helvetica, sans-serif; 
        }

        html,
        body {
            margin: 0 auto !important;
            padding: 5px 3px !important;
            height: 100% !important;
            width: 100% !important;

            background-image: url("https://inets.com.mx/Content/img/SlideBackgroud_640x495.jpg");
            background-attachment: fixed;
            background-position: left bottom;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 96%;
            max-width: 800px;
        }


        table thead th.header h3,
        table thead th.header a {
            color: white;
        }

        table tbody td.content {
            padding: 10px;
            background-color: rgb(223, 223, 223);
            background-color: rgba(223, 223, 223, 0.8);
        }

        dl dt {
            color: rgb(198,72,50);
        }

        dl dd {
            color: #333;
        }

        /* Media Queries */
        @@media screen and (max-width: 600px) {
            /* What it does: Adjust typography on small screens to improve readability */
            .email-container p {
                font-size: 17px !important;
            }
        }
    </style>
</head>

<body>
    <table style="margin-top: 15px; margin-left: auto; margin-right: auto; width: 96%; max-width: 800px;">
        <thead>
            <tr>
                <th class="header" style="text-align: center; color: white; padding: 10px; background-color: #003970; background-image: url('https://inets.com.mx/Content/img/SlideBackgroud_640x495.jpg'); background-position: left bottom; background-attachment: scroll; background-size: cover;">
                    <img src="https://inets.com.mx/Content/img/LTSF_2.png" alt="I.Net Soluciones" />
                    <br />
                    <h3>
                        Nuevo mensaje de contacto en su página inets.com.mx
                    </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="content" style="padding: 10px; background-color: rgb(223, 223, 223); background-color: rgba(223, 223, 223, 0.8);">
                    <dl>
                        <dt style="color: rgb(198,72,50);"><b>Nombre Completo:</b></dt>
                        <dd>@ViewBag.sNombre</dd>
                        <dt style="color: rgb(198,72,50);"><b>Correo Electrónico: </b></dt>
                        <dd>@ViewBag.sCorreo</dd>
                        <dt style="color: rgb(198,72,50);"><b>Teléfono: </b></dt>
                        <dd>@ViewBag.sTelefono</dd>
                        <dt style="color: rgb(198,72,50);"><b>Mensaje: </b></dt>
                        <dd>@Html.Raw( ViewBag.sMensaje )</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td style="color: white; background-color: rgb(27,51,94); padding: 15px;">
                    <h5 style="font-size: 0.8em; text-align: center; margin: 0;">
                        I.Net Soluciones | @DateTime.Now.Year
                    </h5>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>